

#content {
    position: absolute;
    width: 200px;
    top: 20%;
    left: 50%;
    margin-left: -100px;
    text-align: center;
}


#sprite {
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -437.5px;
    z-index: 1;
}

#arrow, #arrow_2{
    /*border-bottom: solid 1px red;*/
    position: absolute;
    z-index: 2;
}
#arrow_2 {
    display: none;
}

#arrow > img, #arrow_2 > img {
    height: 100px;
    vertical-align: bottom;
    width: inherit;
}
#inp, #inp2 {
    position: absolute;
    top: -25px;
    left: 50%;
    width: 15px;
    margin-left: -7.5px;

}

input {
    width: 15px;
}
